*{
    margin: 0;
}
#copyright1{
    padding:0px;
    margin:0px;
    position:relative;
    right:8px;
    width:10px;
    }
    
.top-text span {
      width: 100px;
      height: 100px;
      background-color: none;
      color:white;
      position: relative;
      margin-right:400px;
      animation-name: example;
      animation-duration: 6s;
      animation-iteration-count: infinite;
}
    
@keyframes example {
      0%   { left:200px; top:100px;}
      25%  { left:200px; top:0px;}
      50%  { left:200px; top:100px;}
      75%  { left:200px; top:0px;}
      100% { left:200px; top:100px;}
}


    /* The Top image */
.top-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("stdimg61.png");
    height: 53%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .top-text {
    text-align: center;
    font-size:65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #c9d8b6c5;
    color: rgba(20, 20, 20, 0.897);
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: right;
    width: 50%;
    margin-top: 6px;
    margin-right:300px;
    padding: 20px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .contact-details{
      float:left;
      position:relative;
      padding:4%;
      font-size:63%;
      font-family:verdana;
      color: white;
  }
  .other{
  position:relative;
  float:right;
  font-size:65%;
  font-family:verdana;
  color:white;
  }
  