@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* RESET END */

.container {
    max-width: 1200px;
    padding: 0 5%;
    margin: 0 auto;
}

@media screen and (min-width: 600) {
    .container {
        padding: 0 2%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 0;
    }
}

/* Footer */

footer {
    color: cornsilk;
    padding: 20px;
    /*background: burlywood;*/
    background: #42495e; 
    margin-top: 20px;
    text-align: center;
    font-weight: lighter;
}
.footer-section hr{
    border: solid;
    border-color: aliceblue;
    border-width: 0 0 2px 0;
    padding: 2px;
    margin: 0px;
    width: 5%;
}
.footer-section{
    display: flex;
    justify-content: space-around;
}
footer li{
    list-style: none;
}

footer p {
    padding: 5px 0;
    font-size: 18px;
    color: #900;
    /* color: #0b0; */
}
