@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: medium;
}

.active{
    background-color: burlywood;
}


.nav{
    background-color: #C9D8B6;
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    width: 100%;
    margin: auto;
    /*width: 100%;
    direction: ltr;
    height: 70px;
    line-height: 75px;
    padding: 0px 50px;
    position: fixed;
    z-index: 1;*/
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
}
.nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.nav .logo a{
    float: left;
    font-size: xx-large;
}
.nav ul{
    /*float: right;*/
    display: -webkit-flex;
    display: moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.header{
    overflow: hidden;
}

.nav ul li{
    display: inline-block;
    list-style: none;
}

.nav ul li a{
    padding: 1.5rem;
    font-weight: bold;
    /*font-size: 18px;
    padding: 0px 20px;*/
}
 
 .content{
    background-image: url(stdimg3.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     -webkit-background-size: cover;
     background-size: cover;
     height: 100vh;
    z-index: -1;
    min-width: 1000px;
    min-height: 500px;
 }

  .content-1{
      color: whitesmoke;
     background-color: rgba(155, 148, 149, 0.377);
     width: 40%;
     /*min-width: 500px;
     min-height: 200px;*/
     margin-top: 15%;
     margin-left: 30%;
     margin-right: 0;
     padding: 15px;
     display: inline-block;
     text-align: center;
     
 }
 .content-1 h4{
     font-weight: lighter;
     margin-top: 5px;
     font-size: 14px;
 }

 h2{
    padding: 15px;
    color: #6495ED;
    font-size: 50px;
    text-align: center;
    min-width: 1000px;
    
 }
 hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 30%;
    margin: auto;
  }

  h3{
      font-size: 30px;
      color: teal;
      padding: 15px;
  }
  

  .row{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-around;
      margin-left: auto;
      
  }

  .column {
    width: 50%;
    height: 350px;
    padding: 40px;
    font-size: 15px;
    text-align: center;
    text-align-last: center;
  }
  .column img{
      width: 35%;
      border-radius: 15px;

  }

  .row p{
      padding: 10px;
  }

  @media screen and (max-width:1200px) {
      .column{
          width: 40%;
          height: 450px;
          font-size: 20px;

      }
      body{
          width: 100%;
      }
  }
  @media screen and (max-width:800px) {
    .column{
        width: 100%;
        align-items: center;
    }
    hr {
        border-style: dotted none none;
        border-color: grey;
        border-width: 5px;
        width: 50%;
        
      }
}
  

 /* .row{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }*/

